.App {
  text-align: center;
  display: flex;
}

img {
  max-width: 300px;
}

.header {
  display: center;
  text-align: center;
  margin: auto;
}

.column {
  flex: 50%;
}

button.green {
  background-color: greenyellow;
}

button.white {
  background-color: white;
}